*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

/* Preset */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content{
    margin: 0 15%;
}

.title{
    font-size: 40px;
}

/* Header */

header{
    background-color: #fff;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    z-index: 10;
}

header ul li{
    display: inline-block;
    line-height: 60px;
}

header ul li a{
    color: #000;
    padding-right: 30px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
}

.nav-left{
    float: left;
}

.nav-left img{
    padding-right: 30px;
    vertical-align: middle;
}

.nav-right{
    float: right;
}

.btn-nav{
    text-decoration: none;
    background-color: #0061ff;
    color: #fff;
    vertical-align: middle;
    padding: 3px 15px;
}

/* Hero */

.hero{
    padding-top: 60px;
    height: 80vh;
    background-color: #b4d0e7;
}

.hero-content{
    margin: 0 8%;
}

.hero-text{
    transform: translateY(20%);
}

.hero-text h1{
    width: 80%;
    font-size: 60px;
}

.hero-text h2{
    padding-top: 5%;
    width: 35%;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}

.hero-text p{
    padding-top: 20px;
    width: 30%;
}

.btn{
    color: #fff;
    text-decoration: none;
    background-color: #0061ff;
    padding: 10px 40px;
    font-weight: 500;
}

.hero-content i{
    font-size: 30px;
    padding-top: 30px;
}

.hero-content img{
    width: 1000px;
    float: right;
    transform: translateY(-150px);
}

/* Plans */

.plans{
    padding-top: 15%;
}

.plans h2{
    font-size: 40px;
    font-weight: 700;
}

.checkbox{
    padding-top: 40px;
    padding-bottom: 50px;
}

.checkbox label{
    padding-right: 20px;
}

.plans-card{
    width: 30%;
    height: 1000px;
    border: 1px solid #d0d0d3;
    float: left;
}

.enterprise{
    width: 100%;
    height: 240px;
    margin-top: 60px;
}

.mg{
    margin: 0 5%;
}

.name{
    border-bottom: 1px solid #d0d0d3;
    padding: 15px 0;
    text-align: center;
}

.name p{
    display: inline-block;
}

.text-card{
    padding: 40px 25px;
}

.text-card h3{
    font-size: 24px;
}

.price{
    font-weight: 700;
    padding: 10px 0;
}

.text-card p:nth-last-child(2){
    color: #637381;
}

.details p{
    display: inline-block;
    vertical-align: top;
}

.details{
    padding-top: 45px;
}

.details ul li{
    padding-bottom: 20px;
}

.btn-plans{
    width: 100%;
    color: #fff;
    background-color: #0061ff;
    padding: 10px 0;
    font-weight: 500;
    text-align: center;
}

.btn-plans a{
    text-decoration: none;
    color: #fff;
}

.buy-now{
    padding: 35px 0;
}

.buy-now a{
    color: #0061ff;
}

.details hr{
    width: 15%;
}

.points h4{
    padding-top: 40px;
    padding-bottom: 25px;
}

.points i{
    color: #0061ff;
}

.details ul{
    padding-bottom: 50px;
}

.btn-enterprise{
    width: 30%;
    float: right;
    background-color: #0061ff;
    padding: 10px 0;
    font-weight: 500;
    text-align: center;
    transform: translateY(-135px);
}

.btn-enterprise a{
    color: #fff;
    text-decoration: none;
}

.text-enterprise{
    width: 70%;
}

.text-enterprise h4{
    padding-top: 15px;
    padding-bottom: 35px;
}

/* Partner */

.partner{
    padding-top: 120px;
}

.img-partner{
    float: left;
    width: 50%;
}

.img-partner img{
    width: 100%;
}

.text-partner{
    width: 50%;
    float: right;
    padding: 45px;
}

.text-partner h3{
    font-size: 26px;
}

.text-partner p{
    padding: 30px 0;
    line-height: 30px;
    font-weight: 500;
}

.btn-partner{
    border: 1px solid black;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* Card business */

.business{
    margin-top: 110px;
}

.card-business{
    width: 30%;
    float: left;
}

.card-business img{
    width: 100%;
}

.card-business p{
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: 500;
}